<h2 mat-dialog-title>Crear Nota</h2>
<!-- <mat-dialog-content> -->
  <form #createNoteForm="ngForm">
    <div mat-dialog-content class="content">
      <div class="row">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Título</mat-label>
          <input matInput type="text" [(ngModel)]="noteModel.title" name="title" required maxlength="20" placeholder="Máximo 20 caracteres"/>
          <mat-hint align="end">{{ noteModel.title?.length || 0 }}/20</mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Contenido</mat-label>
          <textarea matInput  name="content" [(ngModel)]="noteModel.content" rows="5" required maxlength="300" placeholder="Máximo 300 caracteres"></textarea>
          <mat-hint align="end">{{ noteModel.content?.length || 0 }}/300</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </form>
<!-- </mat-dialog-content> -->

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancelCreation()">Cancelar</button>
  <button mat-button [disabled]="!createNoteForm.valid" (click)="createNote()">Guardar</button>
</div>
