<h2 mat-dialog-title>Crear Nota</h2>
<mat-dialog-content>
  <form #editNoteForm="ngForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Título</mat-label>
      <input matInput type="text" [(ngModel)]="noteModel.title" name="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Contenido</mat-label>
      <textarea matInput  name="content" [(ngModel)]="noteModel.content" rows="5" required></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancelCreation()">Cancelar</button>
  <button mat-button color="primary" [disabled]="!editNoteForm.valid" (click)="createNote()">Guardar</button>
</mat-dialog-actions>
