:host {
  display: block;
  height: 125px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  background-color: rgb(116, 114, 114);
}

:host:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.note-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número máximo de líneas visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-dialog-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding: 16px; */
}

mat-dialog-actions button {
  margin-right: 10px;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

.delete-btn, .delete-btn mat-icon, .delete-btn span {
  color: white;
}

.info-btn {
  color: black;
  background-color: rgba(255, 255, 255, 0.25);

}

