header {
  width: 100%;
}

.btn-logout {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  top: 15px;
  right: 15px;
  /* padding: 8px 16px; */
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: hsl(0, 0%, 69%);
  color: white;
}
