:host{
  height: 500px;
}

.update-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; /* Cambia align-items para que los elementos ocupen todo el ancho */
  margin-top: 10px;
}

h2 {
  text-align: center;
}

mat-dialog-content {
  width: 100%;
  padding: 16px;
}

mat-dialog-actions button {
  margin-right: 5px;
}

mat-form-field {
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 16px;
}

.delete-btn, .delete-btn mat-icon, .delete-btn span {
  color: #dc3545;
}

.delete-btn {
  border: 2px solid #dc3545;
}

.info-btn, .info-btn mat-icon, .info-btn span,
.close-btn, .close-btn mat-icon, .close-btn span,
.edit-btn, .edit-btn mat-icon, .edit-btn span {
  color: black;
}

.info-btn, .close-btn, .edit-btn {
  border: 2px solid black;
}

.save-btn, .save-btn mat-icon, .save-btn span {
  color: #1a692c;
}

.save-btn {
  margin-left: ;
  border: 2px solid #1a692c;
}
