<!-- <form (ngSubmit)="createNote()">
  <div>
    <label for="note-title">Título:</label>
    <input type="text" id="note-title" name="title" [(ngModel)]="noteToCreate.title" required />
  </div>
  <div>
    <label for="note-content">Contenido:</label>
    <textarea id="note-content" name="content" rows="4" [(ngModel)]="noteToCreate.content" required></textarea>
  </div>
  <div>
    <button type="submit">Crear Nota</button>
  </div>
</form> -->
<button (click)="createNote()">Crear Nota</button>

<note *ngFor="let note of notesList" [noteModel]="note" (noteDeleted)="bringNotes()" (noteUpdated)="bringNotes()"></note>
