.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 100%;
}

.notes-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
}

.btn-create-note {
  width: fit-content; /* De este modo el botón no ocupa todo el ancho del contenedor */
  grid-column: 1 / 2; /* El botón ocupa solo la primera celda */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-create-note:hover {
  background-color: #0056b3;
}

mat-icon {
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
  line-height: 1;
}

.notes-list {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

@media (min-width: 1200px) {
  .notes-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
